.center-div
{
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #858585;
}

.section {
    top: 16em; 
    bottom: 0; 
    left: 30em; 
    right: 0; 
    text-align: center;
    width: 70em;
    height: auto;
    border: solid 2px black;
    background-color: #AAAAAA;
}

#choix {
    background-color: #D9D9D9;
    border: solid 2px black;
}


#ligne {
    height: 5em; 
    background-color: #D9D9D9;
    border: solid 2px black;
}

.codebarre {
    height: 4em;
    padding-top:10px;
}

.test{
    width: 100%;
}